* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./images/bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    z-index: 1;

}

.header {
    display: flex;
    justify-content: space-around;
}

.navbar {
    display: flex;
    height: 80px;
    position: fixed;
    top: 0;
    right: 50px;
}


.img {
    width: 120px;
    height: 100px;
    border-radius: 50%;

}


.menu-list {
    display: flex;
    margin: 20px 0;

}

.mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.logo {
    margin: 20px 0;
}

.menu-list .menu-item, .mobile-list .menu-item {
    margin: 10px;
    padding: 20px;
}

.menu-list .menu-item a, .mobile-list .menu-item a{
    padding: 10px;
}

.menu-list .menu-item a:hover, .mobile-list .menu-item a:hover {
    
    color: black;
    background-color: white;
    transition: .2s;
   
}

.menu-list .menu-item, .menu-list .menu-item a, .mobile-list .menu-item {
    font-size: 20px;
    color: #fff;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

.main-title {
    font-size: 60px;

}

.main-slogan {
    margin-top: 20px;
    font-size: 22px;
}

.button-area {
    margin-top: 40px;
}


.btn {
    outline: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.btn:hover {
    outline: 2px solid rgba(235, 158, 16, 0.979);
    color: black;
    background-color: white;
    transition: .4s;
}

.menu-icon {
    position: absolute;
    right:25px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
    left: -100%;
}

.mobile-nav {
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    transition: 2s;
}

.active {
    position: absolute;
    left: -10%;
    transition: 2s;
}

#About {
    width: 100%;
    height: 100vh;
    background-color:antiquewhite;
}




@media (max-width:600px) {
    .menu-list {
        display: none;
    }

    .main-slogan {
        margin-top: 10px;
        font-size: 14px;
    }

    .main-title {
        font-size: 25px;
    
    }

    .menu-icon {
        position: absolute;
        left: 94%;
        top: .5%;
        transition: 1.5s;
        z-index: 3;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        margin: 5px;
    }
}

@media (max-width: 400px) {
    .menu-icon {
        position: absolute;
        left: 90%;
        top: 1%;
        transition: 1.5s;
        z-index: 3;
    }

}

@media (min-width: 600px) {
    .mobile-nav {
        display: fixed;
		left: -100%;
    }

}